# Eclipse
.metadata/
.settings/
.project
.classpath

# Java
*.class

# Maven / Gradle
target/
build/

# TestNG / Reports
test-output/

# OS
.DS_Store
Thumbs.db

# Reports
report-repo/
ExtentReport.html

# Logs
logs/

#Vs-Code
.dist
.qodo
.vscode
